body{
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  border: 1px, solid, black;
  background-color: aquamarine;
}
.left, .right{
display: flex;
gap: 10px;
}
nav{
  display: flex;
  justify-content: center;
  padding: 20px;
}
nav > div {
  height: 20px;
  width: 200px;
  border: 1px solid black;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-banner{
  width: 100%;
  height: 200px;
  border: 1px solid black;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ofertas{
  width: 100%;
  background-color: coral;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 10px;
  padding: 10px;
}
.ofertas > div {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ofertas > div:hover{
  background-color: rgb(153, 49, 12);
}
.scrollA{

}
.orangeBtn{
  background-color: orange;
  color: whitesmoke;
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}
.scrollA > ul {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 17px;
  font-weight: 700;
}
footer{
  display: flex;
  justify-content: center;
  background-color: brown ;
}