@font-face {
  font-family: Lato;
  src: url(./Lato/Lato-Regular.ttf);
}
:root{
  --gris-principal: rgb(240, 240, 240);
}
body{
  font-family: Lato;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  overflow-x: auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid black;
}
header > input{
  display: none;
}
.left, .right{
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}
.logo{
  width: 60px;
}
nav{
  display: flex;
  justify-content: center;
  padding: 20px;
}
nav > input {
  height: 20px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid black;
}
nav > button {
  display: none;
}

/* PRIMER BANNER */
.main-banner {
 margin: 10px;
}
.mobileBanner{
  max-width: 100%;
  height: auto;
}
.bannerPc{
  display: none;
}
/* GRID DE OFERTAS */
.ofertas{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-content: space-between;
  gap: 10px;
}
.ofertas > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ofertas > div > a > img{
  max-width: 100%;
  height: auto;
}
.ofertas > div > h3 {
  font-size: 17px;
  font-weight: 550;
  height: 20px;
}
/* SCROLLS DE COMPUTADORES */
.scrollA{
  width: 100%;
  background-color: var(--gris-principal)
}
.scrollA > h2 , .scrollA > button{
  margin-left: 10px;
}
.orangeBtn{
  background-color: orange;
  color: whitesmoke;
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}
.scrollA > ul {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 17px;
  font-weight: 700;
}
.menuScroll{
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
}
.menuScroll > li{
  min-width: 300px;
  height: 380px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
}
.menuScroll > li > img {
  border-radius: 10px;
  height: 180px;
  width: 200px;
  top: -50px;
  margin-left: 40px;
  position: relative;
}
.menuScroll > li > p {
  font-size: 15px;
  font-weight: lighter;
}
.menuScroll > ul{
  margin-left: -20px;
}
.descuentoPorcentaje{
  position: relative;
  z-index: 1;
  font-size: 15px;
  background-color: red;
  color: white;
  width: 40px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
}
.precio{
  display: flex;
  align-items: center;
  gap: 10px;
}
.precio > h3{
  color: red;
  margin-top: 5px;
  margin-left: 5px;
}
.precio > h4 {
  font-size: 12px;
  font-weight: 100;
  text-decoration: line-through;
}
.stars{
  display: flex;
}
.blog{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-bottom: 1px solid lightgray;
}
.blog > img {
  width: 90%;
  position: relative;
}
.blogTextWrapper{
  background-color: white ;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
  width: 50%;
}
.blogTextWrapper > h3,
.blogTextWrapper > h4 {
  margin: 5px;
}
.blogTextWrapper > h3 {
  font-weight: 800;
}
.blogTextWrapper > h4{
  font-size: 14px;
  font-weight: 100px;
}
.blogTextWrapper:nth-child(3):hover{
  cursor: pointer;
}
.faq-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.faq-wrapper > h4 {
 width: 100%; 
 border-bottom: 1px solid black;
}
.dropdown,
.content1,
.submenu {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
.faq-wrapper:hover .dropdown,
.dropdown1:hover .content1,
.content1:hover .submenu{
  visibility: visible;
  height: auto;
}

footer{
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(201, 175, 226);
  color: var(--gris-principal);
  display: flex;
}

@media only screen and (min-width: 748px){
 .bannerPc{
  display: block;
  max-width: 100%;
  height: auto;
 }
.mobileBanner{
  display: none;
}
.ofertas{
  display: grid;
  grid-template-columns: repeat(3, minmax(190px, 1fr));
}
}
@media only screen and (min-width: 1000px){
  .ofertas{
    display: flex;
  }
  nav {
    display: none;
  }
  header > input{
    display: block;
    width: 50%;
  }
}
